{% extends 'htmlpages/wrapper.html' %}

{% block content %}
    <title>Добавление карты</title>
    <div class="center indents">
        <h1>Новая карта</h1>
            <form method="post" action="" enctype="multipart/form-data">
                {% for field in form_article %}
                    {% csrf_token %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <input class="btn btn-warning" type="submit" value="Добавить новую карту" name="add_data">
            </form>
    </div>
{% endblock %}